.module {
    padding: 16px;
    border-radius: 5px;
    .operate {
        margin-bottom: 16px;
    }
    .content {
        .table {

        }
        .page {
            margin-top: 16px;
            text-align: right;
        }
    }
}