body {
    background-color: #ccc;
    .ant-layout {
        .ant-layout-sider-trigger {
            background: #fff;
            border-top: 1px solid #dcdede;
            .anticon {
                color: #a6a2a6;
            }
        }
        .page-conetnt {
            padding: 16px;
        }
    }
}