body {
    background-color: #ccc;
    .ant-layout {
        .ant-layout-sider-trigger {
            background: #fff;
            border-top: 1px solid #dcdede;
            .anticon {
                color: #a6a2a6;
            }
        }
        .page-conetnt {
            padding: 16px;
        }
    }
}

.ant-picker,
.ant-input-number {
    width: 100%;
}

.ant-tree {
    background: none;
}

.mr4 {
    margin-right: 4px;
}

.mr8 {
    margin-right: 8px;
}

.title6 {
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #191b27;
    line-height: 20px;
}