.content {
    padding: 16px;
    .compoundImg {
        height: 150px;
    }
    .basicForm {
        .ant-form-item{
            .ant-input-number,
            .ant-picker {
                width: 100%;
            }
        }
    }
}