.container {
    position: relative;
}
.content {
    // padding: 16px;
    padding-bottom: 24px;
    margin: 24px;
    height: calc(100vh - 152px);
    background-color: #fff;
    position: relative;
    border-radius: 4px;
    overflow-y: auto;
    .compoundImg {
        height: 150px;
        position: relative;
        cursor: pointer;
        .image {
            width: 100%;
            display: flex;
            justify-content: center;
            border: 1px solid #dcdee0;
            border-radius: 4px;
            .ant-image {
                height: 104px;
            }
        }
        .info {
            background: rgba(25, 27, 39, 0.4);
            border-radius: 0px 0px 4px 4px;
            color: #fff;
            padding: 0 12px;
            height: 36px;
            line-height: 36px;
            position: absolute;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .basicForm {
        padding: 24px 16px;
        padding-bottom: 0;
        .ant-form-item{
            .ant-input-number,
            .ant-picker {
                width: 100%;
            }
        }
        .addMoreInfo {
            cursor: pointer;
            color: #2f54eb;
        }
    }
}


.popCompound {
    min-height: 328px;
    max-height: 558px;
    width: 320px;
    background-color: #4a80fd;
    border-radius: 4px;
    padding: 0;
    // background-image: url('~assets/images/add_sample_compound.png');
    background-repeat: no-repeat;
    background-position-y: 8px;
    background-position-x: 212px;
    margin-right: 12px;
    .title {
        height: 48px;
        color: #fff;
        font-size: 16px;
        margin-left: 16px;
        display: flex;
        align-items: center;
    }
    .popContent {
        border-radius: 4px 4px 4px 4px;
        margin: 0 8px 8px 8px;
        background: #ffffff;
        .contentImg {
            width: 304px;
            height: 176px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .contentInfo {
            padding-top: 12px;
            padding-bottom: 8px;
            margin-left: 8px;
            margin-right: 8px;
            border-top: 1px solid #dcdee0;
            overflow-y: auto;
            max-height: 328px;
            li {
                margin-bottom: 4px;
                font-size: 14px;
                font-weight: 400;
                color: #191b27;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.detection {
    .header {
        display: flex;
        margin-bottom: 16px;
        align-items: center;
        margin-left: 8px;
        .dividerClass {
            width: 3px;
            height: 16px;
            background: #2f54eb;
        }
        .title {
            font-size: 16px;
            font-weight: 600;
            color: #191b27;
        }
    }
    .detectionContent {
        height: 550px;
        display: flex;
        .tree {
            padding: 12px 0px 16px 16px;
            height: 550px;
            background: #f7f8fa;
            box-shadow: -1px 0px 0px 0px #dcdee0 inset;
            min-width: 230px;
            .treeHeader {
                .treeHeaderTitle {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 16px;
                    margin-right: 1px;
                }
                .treeHeaderSearch {
                    margin-right: 16px;
                }
            }
            .treeContent {
                height: calc(100% - 80px);
                overflow: hidden auto;
                padding-right: 16px;
                background: #f7f8fa;
            }
        }
        .table {
            margin-left: 12px;
            margin-right: 16px;
            flex: 1;
            width: 100%;
        }
    }
}

.footer {
    position: sticky;
    border-top: 1px solid #dcdee0;
    border-left: 1px solid #dcdee0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    right: 0;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 24px;
}