.header {
    display: flex;
    align-items: center;
    .status {
        display: flex;
    }
    .tabLabel {
        color: #505159;
        margin-right: 32px;
        min-width: 64px;
        padding: 5px 11px;
        line-height: 22px;
        &:hover {
            cursor: pointer;
        }
    }
    .active {
        background: #f0f3ff;
        border-radius: 4px;
        color: #2f54eb;
        font-weight: 600;
    }
}
.searchModule {
    display: flex;
    justify-content: space-between;
    .search {
        display: flex;
        .searchIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            background-color: #f0f3ff;
            color: #2f54eb;
            border-radius: 4px;
            padding: 7px;
            font-size: 20px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .marginLeft12 {
        margin-left: 12px;
    }
}